{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<form action="/remove" method="post">
    <div class="form-group">
       <select class="form-control" name="index">
            <option disabled selected value="">Palabra</option>
                {% for (i, word) in word_count %}
                    <option value="{{i}}">{{ word['es'] }} ({{ word['it'] }})</option>
                {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Remover</button>
</form>
{% endblock %}